MONGODB_URI = mongodb+srv://abhikaushal4444:abhi12345@mern.9jpmp.mongodb.net/MERN_Ecomm?retryWrites=true&w=majority&appName=MERN_Ecomm
TOKEN_SECRET_KEY = "ABHISHEKDEVELOPERGJKDFJODUIGDFKJRTIYIHDGNGHIGJDLFGJDLGGHDNJVJBKGJ"
FRONTEND_URL = http://localhost:3000